.fondo{
  background-size: cover;
  background-position: bottom ;
  transition: 0.4 ease;
  background-image: url(assets/bg-main.jpg)
}

.fondo.soleadodia{
  background-image: url(assets/soleado-dia.jpg);
}

.fondo.soleadonoche{
  background-image: url(assets/soleado-noche.jpg);
}

.fondo.nubladodia{
  background-image: url(assets/nublado-dia.jpg);
}
.fondo.nubladonoche{
  background-image: url(assets/nublado-noche.jpg);
}
.fondo.lluviadia{
  background-image: url(assets/lluvia-dia.jpg);
}
.fondo.lluvianoche{
  background-image: url(assets/lluvia-noche.jpg);
}
.fondo.niebladia{
  background-image: url(assets/niebla-dia.jpg);
}
.fondo.nieblanoche{
  background-image: url(assets/niebla-noche.jpg);
}
.fondo.nieve{
  background-image: url(assets/nieve-dia.jpg)
}
.climainfo{
  background-color: rgba(0, 0,0, 0.25)
}

.buscador{
  border: 0;
  opacity: 0.75;
  font-size: 32px;
}

.climacuadro{
  display: flex;
  justify-content: end;
  padding: 32px;
}

.temperatura{
  size: 32px;
}

.btn{
  color: black;
  background-color: #fdfd96;
}

