.fondo{
  background-size: cover;
  background-position: bottom ;
  transition: 0.4 ease;
}

.fondo.soleadodia{
  background-image: url(assets/soleado-dia.jpg);
}

.fondo.soleadonoche{
  background-image: url(assets/soleado-noche.jpg);
}

.fondo.nubladodia{
  background-image: url(assets/nublado-dia.jpg);
}
.fondo.nubladonoche{
  background-image: url(assets/nublado-noche.jpg);
}
.fondo.lluviadia{
  background-image: url(assets/lluvia-dia.jpg);
}
.fondo.lluvianoche{
  background-image: url(assets/lluvia-noche.jpg);
}
.fondo.niebladia{
  background-image: url(assets/niebla-dia.jpg);
}
.fondo.nieblanoche{
  background-image: url(assets/niebla-noche.jpg);
}
.fondo.nieve{
  background-image: url(assets/nieve-dia.jpg)
}
